 .wrapper-header-wlv {
            background-color: #5a3a27;
            color: white;
            text-transform: uppercase;
        }

        .mega-menu {
            list-style: none;
            z-index: 10;
            background-color: #fff;
        }

        .carousel {
            display: flex;
            margin: 20px auto 50px auto;
            overflow: hidden;
        }

        .bg {
            background: linear-gradient(to bottom, #fff, #fff 109.8px, #f7f7f7 109.8px, #f7f7f7 100%);
            background-size: 100% 100%;
            padding-bottom: 20px;
            overflow: hidden;
        }

        .mega-menu li {
            position: static;
            cursor: pointer;
            float: left;
            display: block;
            padding-left: 20px;
            text-align: center;
            font-size: 14px;
            color: #000;
            line-height: 17px;
            font-family: "AvenirLTStd85Heavy";
            text-transform: uppercase;
            transition: all .2s linear;
            position: relative;
        }

        .mega-menu li::after {
            content: "";
            position: absolute;
            bottom: 9px;
            left: auto;
            right: 20px;
            width: 0px;
            height: 2px;
            background-color: black;
            opacity: 0;
            transition: all .2s linear;
        }

        .mega-menu li:hover::after {
            opacity: 1;
            left: 20px;
            right: auto;
            width: calc(100% - 35px);
        }

        .mega-menu-title {
            font-size: 20px;
            font-family: "Big Caslon";
            line-height: 26px;
            text-align: left;
            border-bottom: 2px solid #000;
            padding-bottom: 7.5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }

        .main-menu {
            position: relative;

        }

        .mega-backdrop {
            position: absolute;
            top: 100px;
            visibility: hidden;
            opacity: 0.5;
            left: 10px;
            width: calc(100vw - 40px);
            padding-bottom: 30px;
            z-index: 9;
            background-color: white;
            pointer-events: none;
            transition: all .2s linear;
            transform-origin: top right;
            box-shadow: 0px 20px 8px 3px rgb(14 0 40 / 25%);
        }

        .is-open{
            visibility: visible; 
            opacity: 1;
            top: 80px;
        }

        .page-header {
            margin: 40px auto 20px auto;
        }

        .delay-1s{
            animation-delay: 1s;
        }

        .main-menu {
            padding-top: 30px;
            padding-bottom: 10px;
            z-index: 9999;
        }

        .faster{
            animation-direction: 500ms;
        }

        .fast{
            animation-direction: 800ms;
        } 
        .slow {
            animation-direction: 1s;
        }